.div__preloader1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    clip-path: circle(100% at 50% 50%);
    transition: clip-path 0.5s ease-in-out;
}
.div__preloader2{
    clip-path: circle(0% at 50% 50%);
}